In [2]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a[0], end=" ")
print(a[-1])
print(a[-1:-5:-1])
a.append("Goat")
print(a)

Apple Fish
['Fish', 'Dog', 'Cat', 'Ball']

AttributeError: 'list' object has no attribute 'upper'

In [15]:
a = ["Apple","Ball","Cat","Dog","Fish"]
l = len(a)
for i in a:
    print(i)

Apple
Ball
Cat
Dog
Fish

In [18]:
a = ["Apple","Ball","Cat","Dog","Fish","Ball","Ball"]
for i in a:
    if i == "Dog":
        break
    else:
        print(i)

Apple
Ball
Cat

In [19]:
n = int(input("enter the value of n"))

b =[]

for i in range(n):
    name = input("enter name")
    b.append(name)
print(b)

enter the value of n4
enter nameram
enter nameshyam
enter nameharu
enter namesita
['ram', 'shyam', 'haru', 'sita']

In [3]:
a = [3,345,400000,5,6,78]
print(max(a))
a.sort()
print(a)
a.reverse()
print(a)

400000
[3, 5, 6, 78, 345, 400000]
[400000, 345, 78, 6, 5, 3]

In [6]:
a = [1,2,3,4,5,6,6,6,6,7]
print(a.count())

TypeError: count() takes exactly one argument (0 given)

In [7]:
a = ["Apple","Zebra","ball","Xray","1Rose",".food","2","ball"]
l=len(a)
for i in range(l):
    if a[i] == "ball":
        print(i)

2
7

In [3]:
bill = []
net_price = 0
n = int(input("enter the value of n"))
for i in range(n):
    name = input("enter name=")
    price = int(input("enter price="))
    quantity = int(input("enter qty"))
    total = price*quantity
    data = [name,price,quantity,total]
    bill.append(data)
    net_price = net_price + total
print(bill)

enter the value of n3
enter name=coke
enter price=200
enter qty2
enter name=fanta
enter price=3
enter qty4
enter name=sprite
enter price=500
enter qty4
[['coke', 200, 2, 400], ['fanta', 3, 4, 12], ['sprite', 500, 4, 2000]]

In [4]:
print(bill)

[['coke', 200, 2, 400], ['fanta', 3, 4, 12], ['sprite', 500, 4, 2000]]

In [1]:
a = [["ram",45,"ktm"],
     ["shyam",45,"pokhara"],
     ["hari",45,"biratnagar"] ]
for i in a:
    if "ram" in i:
        continue
    print(i)

['ram', 45, 'ktm']
['shyam', 45, 'pokhara']
['hari', 45, 'biratnagar']

In [2]:
a = {"a":"Apple","b":"Ball","c":"Cat"}
print(a["a"])

Apple

In [2]:
d = {}
n = int(input("enter n ="))
for i in range(n):
    name = input("enter name ")
    phone = int(input("enter no "))
    key = name
    
    value = phone
    d[key]=value
print(d)

enter n =3
enter name ram
enter no 1234
enter name shyam
enter no 1222
enter name hari
enter no 12345
{'ram': 1234, 'shyam': 1222, 'hari': 12345}

In [ ]:
n = int(input("enter n = "))
d = {}

for i in range(n):
    name = input("enter your name = ")
    ntc = int(input("enter ntc number ="))
    ncell = int(input("enter ncell number ="))
    key = name
    value = [ntc,ncell]
    d[key] = value
print(d)

enter n = 2
enter your name = ram
enter ntc number =1234
enter ncell number =12222
enter your name = shyam
enter ntc number =3434
enter ncell number =5555
{'ram': [1234, 12222], 'shyam': [3434, 5555]}

In [1]:
a = {1:{'Name':'Ram',"NTC":985612345,"NCELL":123456},
     2:{'Name':'Ram',"NTC":123456,"NCELL":1234567}}
a[1]['Name']

'Ram'

In [5]:
d = dict()
n = int(input("enter the value of n"))
for i in range(n):
    name = input("enter the name")
    ntc = int(input("enter the number"))
    ncell = int(input("enter the number"))
    key = name
    value = [ntc,ncell]
    
    d[key] = value
print(d)

enter the value of n2
enter the nameram
enter the number4672356
enter the number555555
enter the nameshyam
enter the number234556
enter the number454656
{'ram': [4672356, 555555], 'shyam': [234556, 454656]}

In [9]:
a = {'ram': [4672356, 555555], 'shyam': [234556, 454656]}
a['ram'][0]
del a['shyam']
print(a)

{'ram': [4672356, 555555]}

In [3]:
l = []
n = int(input("enter the value of n "))
for i in range(1,n+1):
    name = input("enter the name ")
    ntc = int(input("enter ntc number "))
    ncell = int(input("enter ncell number "))
    value = {name:[ntc,ncell]}
    l.append(value)
print(l)

enter the value of n 2
enter the name ram
enter ntc number 111
enter ncell number 111
enter the name shyam
enter ntc number 1122
enter ncell number 1222
[{'ram': [111, 111]}, {'shyam': [1122, 1222]}]

In [4]:
a = ("ram","shyam","hari",)
list(a)

['ram', 'shyam', 'hari']

In [ ]:
a = ()
n = int(input("enter the value of n"))
for i in range(n):
    name = input("enter the name")
    age = int(input("enter your age"))
    address = input("enter your address")
    value = ((name,age,address),)
    a.append(value)
print(a)

In [3]:
a = set()
n = int(input("enter the value of n "))
for i in range (n):
    x = input("enter x =")
    a.add(x)
print(a)

enter the value of n 2
enter x =2
enter x =3
{'2', '3'}

In [4]:
a = {"Ram","Shyam","Hari","Sita","Gita","Nita"}
b = {"Hari","Sita","Nabin"}
print(a.intersection(b))
print(a.union(b))

{'Hari', 'Sita'}
{'Hari', 'Gita', 'Nabin', 'Nita', 'Sita', 'Shyam', 'Ram'}

In [7]:
a = {"Ram","Shyam","Hari","Sita","Gita","Nita"}
b = {"Hari","Sita","Nabin"}
print(a.difference(b))
print(b.difference(a))
c =a.union(a)
d =a.intersection(b)
print(c.difference(d))

{'Ram', 'Shyam', 'Gita', 'Nita'}
{'Nabin'}
{'Ram', 'Shyam', 'Gita', 'Nita'}

In [9]:
b = {"Ram","Shyam","Hari","Sita","Gita","Nita"}
a = {"Hari","Sita"}
a.issubset(b)
b.issuperset(a)

True

In [1]:
a = [][]
n = int(input("enter size of n"))
m = int(input("enter size of m"))
for i in range(n):
    for j in range(m):
        name = input("enter name")
        
        a[i][j].append(name)
print(a)

SyntaxError: invalid syntax (<ipython-input-1-ec11d2565732>, line 1)