In [4]:
import mysql.connector
#importing database
database = mysql.connector.connect(
    host = "localhost",
    user="root",
    password="",
    database="class12pm"

)

db = database.cursor()

In [6]:
db.execute("SELECT * FROM account")
result =db.fetchall()
for x in result:
    print(x)

(1, 'ram', 12345, '12345', datetime.date(2021, 7, 4))

In [7]:
db.execute("SELECT id,name,phone FROM account")
result =db.fetchall()
for x in result:
    print(x)

(1, 'ram', 12345)

In [4]:
import mysql.connector
#importing database
database = mysql.connector.connect(
    host = "localhost",
    user="root",
    password="",
    database="class12pm"

)

db = database.cursor()
name = input("Enter name=")
phone = int(input("Enter Phone="))
payment = input("Enter yes or no=")
total = int(input("Enter total="))

sql = f"INSERT INTO account(name,phone,payment,total) VALUES('{name}',{phone},'{payment}',{total})"
db.execute(sql)
database.commit()

Enter name=ram
Enter Phone=12345
Enter yes or no=yes
Enter total=400

In [8]:
import mysql.connector
#importing database
database = mysql.connector.connect(
    host = "localhost",
    user="root",
    password="",
    database="class12pm"

)

db = database.cursor()
ids = int(input("Enter id="))
phone = int(input("Enter Phone="))
name = input("Enter name = ")

sql = f"UPDATE account SET phone = {phone}, name='{name}' WHERE id = {ids}"
db.execute(sql)
database.commit()

Enter id=5
Enter Phone=9841
Enter name = nabin

In [11]:
ids = int(input("Enter id="))


sql = f"DELETE from account WHERE id = {ids}"

db.execute(sql)
database.commit()

Enter id=5