In [1]:
from bs4 import BeautifulSoup 
import requests
url = BeautifulSoup('https://www.worldometers.info/coronavirus/','html.parser')
response = requests.get(url)
data  = response.text
soup = BeautifulSoup(data,'lxml')
tags = soup.table
tag = tags.find_all('tr') 
tag

C:\Users\Dell\anaconda3\lib\site-packages\bs4\__init__.py:389: UserWarning: "https://www.worldometers.info/coronavirus/" looks like a URL. Beautiful Soup is not an HTTP client. You should probably use an HTTP client like requests to get the document behind the URL, and feed that document to Beautiful Soup.
  ' that document to Beautiful Soup.' % decoded_markup

[<tr>
 <th width="1%">#</th>
 <th width="100">Country,<br/>Other</th>
 <th width="20">Total<br/>Cases</th>
 <th width="30">New<br/>Cases</th>
 <th width="30">Total<br/>Deaths</th>
 <th width="30">New<br/>Deaths</th>
 <th width="30">Total<br/>Recovered</th>
 <th width="30">New<br/>Recovered</th>
 <th width="30">Active<br/>Cases</th>
 <th width="30">Serious,<br/>Critical</th>
 <th width="30">TotÂ Cases/<br/>1M pop</th>
 <th width="30">Deaths/<br/>1M pop</th>
 <th width="30">Total<br/>Tests</th>
 <th width="30">Tests/<br/>
 <nobr>1M pop</nobr>
 </th>
 <th width="30">Population</th>
 <th style="display:none" width="30">Continent</th>
 <th width="30">1 Case<br/>every X ppl</th><th width="30">1 Death<br/>every X ppl</th><th width="30">1 Test<br/>every X ppl</th>
 <th width="30">New Cases/1M pop</th>
 <th width="30">New Deaths/1M pop</th>
 <th width="30">Active Cases/1M pop</th>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="North America" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>North America</nobr>
 </td>
 <td>41,766,926</td>
 <td>+17,432</td>
 <td>932,620</td>
 <td>+451</td>
 <td>34,915,660</td>
 <td>+361</td>
 <td>5,918,646</td>
 <td>13,655</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="North America" style="display:none;">North America</td>
 <td>
 </td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Asia</nobr>
 </td>
 <td>59,870,667</td>
 <td>+35,890</td>
 <td>859,869</td>
 <td>+271</td>
 <td>56,388,074</td>
 <td>+26,451</td>
 <td>2,622,724</td>
 <td>30,982</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Asia" style="display:none;">Asia</td>
 <td>
 </td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="South America" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>South America</nobr>
 </td>
 <td>34,879,776</td>
 <td>+967</td>
 <td>1,071,904</td>
 <td>+30</td>
 <td>32,387,685</td>
 <td>+1,561</td>
 <td>1,420,187</td>
 <td>26,765</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="South America" style="display:none;">South America</td>
 <td>
 </td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Europe</nobr>
 </td>
 <td>50,397,228</td>
 <td>+2,599</td>
 <td>1,123,872</td>
 <td>+23</td>
 <td>46,367,103</td>
 <td>+1,888</td>
 <td>2,906,253</td>
 <td>6,706</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Europe" style="display:none;">Europe</td>
 <td>
 </td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Africa</nobr>
 </td>
 <td>6,422,404</td>
 <td></td>
 <td>162,034</td>
 <td></td>
 <td>5,609,827</td>
 <td></td>
 <td>650,543</td>
 <td>4,332</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Africa" style="display:none;">Africa</td>
 <td>
 </td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Oceania</nobr>
 </td>
 <td>94,227</td>
 <td>+182</td>
 <td>1,448</td>
 <td>+1</td>
 <td>73,870</td>
 <td>+2</td>
 <td>18,909</td>
 <td>65</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>
 <td>
 </td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr></nobr>
 </td>
 <td>721</td>
 <td></td>
 <td>15</td>
 <td></td>
 <td>706</td>
 <td></td>
 <td>0</td>
 <td>0</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="" style="display:none;"></td>
 <td>
 </td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world">
 <td></td>
 <td style="text-align:left;">World</td>
 <td>193,431,949</td>
 <td>+57,070</td>
 <td>4,151,762</td>
 <td>+776</td>
 <td>175,742,925</td>
 <td>+30,263</td>
 <td>13,537,262</td>
 <td>82,505</td>
 <td>24,816</td>
 <td>532.6</td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="all" style="display:none">All</td>
 <td>
 </td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
 <td style="font-weight: bold; text-align:right">35,213,594</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">626,172 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">29,478,173</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">5,109,249</td>
 <td style="font-weight: bold; text-align:right">6,607</td>
 <td style="font-weight: bold; text-align:right">105,730</td>
 <td style="font-weight: bold; text-align:right">1,880</td>
 <td style="font-weight: bold; text-align:right">520,411,488</td>
 <td style="font-weight: bold; text-align:right">1,562,559</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">333,050,797</a> </td>
 <td data-continent="North America" style="display:none">North America</td>
 <td>9</td><td>532</td><td>1</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">15,341</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
 <td style="font-weight: bold; text-align:right">31,293,062</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+1,358</td>
 <td style="font-weight: bold; text-align:right;">419,502 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">30,468,079</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+7,775</td>
 <td style="text-align:right;font-weight:bold;">405,481</td>
 <td style="font-weight: bold; text-align:right">8,944</td>
 <td style="font-weight: bold; text-align:right">22,443</td>
 <td style="font-weight: bold; text-align:right">301</td>
 <td style="font-weight: bold; text-align:right">452,939,545</td>
 <td style="font-weight: bold; text-align:right">324,849</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,394,309,103</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <td>45</td><td>3,324</td><td>3</td>
 <td style="font-weight: bold; text-align:right">1.0</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">291</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
 <td style="font-weight: bold; text-align:right">19,524,092</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">547,134 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">18,259,711</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">717,247</td>
 <td style="font-weight: bold; text-align:right">8,318</td>
 <td style="font-weight: bold; text-align:right">91,169</td>
 <td style="font-weight: bold; text-align:right">2,555</td>
 <td style="font-weight: bold; text-align:right">54,786,381</td>
 <td style="font-weight: bold; text-align:right">255,828</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">214,153,392</a> </td>
 <td data-continent="South America" style="display:none">South America</td>
 <td>11</td><td>391</td><td>4</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">3,349</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
 <td style="font-weight: bold; text-align:right">6,054,711</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">151,501 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">5,427,457</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">475,753</td>
 <td style="font-weight: bold; text-align:right">2,300</td>
 <td style="font-weight: bold; text-align:right">41,470</td>
 <td style="font-weight: bold; text-align:right">1,038</td>
 <td style="font-weight: bold; text-align:right">160,800,000</td>
 <td style="font-weight: bold; text-align:right">1,101,366</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">146,000,561</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>24</td><td>964</td><td>1</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">3,259</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
 <td style="font-weight: bold; text-align:right">5,933,510</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">111,565 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">5,669,083</span></td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">152,862</td>
 <td style="font-weight: bold; text-align:right">868</td>
 <td style="font-weight: bold; text-align:right">90,690</td>
 <td style="font-weight: bold; text-align:right">1,705</td>
 <td style="font-weight: bold; text-align:right">99,605,085</td>
 <td style="font-weight: bold; text-align:right">1,522,408</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,426,028</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>11</td><td>586</td><td>1</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">2,336</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
 <td style="font-weight: bold; text-align:right">5,602,321</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">128,980 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">4,427,533</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">1,045,808</td>
 <td style="font-weight: bold; text-align:right">647</td>
 <td style="font-weight: bold; text-align:right">82,070</td>
 <td style="font-weight: bold; text-align:right">1,889</td>
 <td style="font-weight: bold; text-align:right">236,677,745</td>
 <td style="font-weight: bold; text-align:right">3,467,178</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,262,351</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>12</td><td>529</td><td>0</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">15,320</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
 <td style="font-weight: bold; text-align:right">5,563,903</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">50,761 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">5,405,339</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">107,803</td>
 <td style="font-weight: bold; text-align:right">543</td>
 <td style="font-weight: bold; text-align:right">65,231</td>
 <td style="font-weight: bold; text-align:right">595</td>
 <td style="font-weight: bold; text-align:right">65,698,849</td>
 <td style="font-weight: bold; text-align:right">770,248</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/turkey-population/">85,295,702</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <td>15</td><td>1,680</td><td>1</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">1,264</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/argentina/">Argentina</a></td>
 <td style="font-weight: bold; text-align:right">4,812,351</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">103,074 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">4,447,953</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">261,324</td>
 <td style="font-weight: bold; text-align:right">4,532</td>
 <td style="font-weight: bold; text-align:right">105,457</td>
 <td style="font-weight: bold; text-align:right">2,259</td>
 <td style="font-weight: bold; text-align:right">18,608,333</td>
 <td style="font-weight: bold; text-align:right">407,782</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/argentina-population/">45,633,094</a> </td>
 <td data-continent="South America" style="display:none">South America</td>
 <td>9</td><td>443</td><td>2</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">5,727</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/colombia/">Colombia</a></td>
 <td style="font-weight: bold; text-align:right">4,692,570</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">117,836 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">4,449,027</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">125,707</td>
 <td style="font-weight: bold; text-align:right">8,155</td>
 <td style="font-weight: bold; text-align:right">91,198</td>
 <td style="font-weight: bold; text-align:right">2,290</td>
 <td style="font-weight: bold; text-align:right">21,876,392</td>
 <td style="font-weight: bold; text-align:right">425,159</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/colombia-population/">51,454,592</a> </td>
 <td data-continent="South America" style="display:none">South America</td>
 <td>11</td><td>437</td><td>2</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">2,443</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
 <td style="font-weight: bold; text-align:right">4,302,393</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">127,920 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">4,119,607</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">54,866</td>
 <td style="font-weight: bold; text-align:right">158</td>
 <td style="font-weight: bold; text-align:right">71,270</td>
 <td style="font-weight: bold; text-align:right">2,119</td>
 <td style="font-weight: bold; text-align:right">75,555,223</td>
 <td style="font-weight: bold; text-align:right">1,251,580</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,367,884</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>14</td><td>472</td><td>1</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">909</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>
 <td style="font-weight: bold; text-align:right">4,249,258</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">81,194 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">3,681,125</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">486,939</td>
 <td style="font-weight: bold; text-align:right">1,240</td>
 <td style="font-weight: bold; text-align:right">90,847</td>
 <td style="font-weight: bold; text-align:right">1,736</td>
 <td style="font-weight: bold; text-align:right">55,184,196</td>
 <td style="font-weight: bold; text-align:right">1,179,807</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/spain-population/">46,773,907</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>11</td><td>576</td><td>1</td>

In [2]:




a = []
for i in tag:
    s = i.get_text()
    a.append(s)
final = a[9:-9]

In [3]:

final_data = []
for i in final:
    f = i.split('\n')[1:9]
    final_data.append(f)
header = [['Sn','Country','Total Case','New Case','Total Death','New Death','Total Recovered','New Recovered']]
output_data = header + final_data

In [4]:
import csv
f = open('covid2020.csv','w')
write = csv.writer(f)
for i in output_data:
    write.writerow(i)
f.close()

In [5]:
import pandas as pd
df = pd.read_csv('covid2020.csv')
df

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 1: invalid continuation byte

In [ ]:
import plotly.express as px
fig = px.bar(df,x='Country',y='Total Case')
fig.show()