In [16]:
import mysql.connector
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="class12pm"
)
db = database.cursor()

In [20]:

db.execute("SELECT itemname,price FROM foods WHERE itemname LIKE '%momo%' ")
result = db.fetchall()
for x in result:
    print(x)

('momo', 500)